@model Teacher
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">
    <h2 style="color:red;font:bold">Delete</h2>
    <div class="card-group">
        <div class="card">
            <img src="~/uploads/teachers/@Model.Photo" class="card-img-top" style="max-width:250px;" alt="course image">
            <div class="card-body">
                <h5 class="card-title">Fullname: @Model.FullName</h5>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">Status: @Model.TeachingStatus</p>
                        <p class="card-text">Degree: @Model.Degree</p>
                        <p class="card-text">Experience: @Model.Experience</p>
                        <p class="card-text">Hobby: @Model.Hobby</p>
                        <p class="card-text">Faculty: @Model.Faculty</p>
                        <p class="card-text">Email: @Model.Email</p>
                        <p class="card-text">Phone Number: @Model.PhoneNumber</p>
                        <p class="card-text">Skype: @Model.Skype</p>
                        <p class="card-text">FacebookUrl: @Model.FacebookUrl</p>


                    </div>
                    <div class="col-md-6">
                        <p class="card-text">TwitterUrl: @Model.TwitterUrl</p>
                        <p class="card-text">PinterestUrl: @Model.PinterestUrl</p>
                        <p class="card-text">VimeoUrl: @Model.VimeoUrl</p>
                        <p class="card-text">Language Percentage: @Model.LanguagePercentage</p>
                        <p class="card-text">Team Leader Percentage: @Model.TeamLeaderPercentage</p>
                        <p class="card-text">Development Percentage: @Model.DevelopmentPercentage</p>
                        <p class="card-text">Design Percentage: @Model.DesignPercentage</p>
                        <p class="card-text">Innovation Percentage: @Model.InnovationPercentage</p>
                        <p class="card-text">Communication Percentage: @Model.CommunicationPercentage</p>
                    </div>
                </div>
                <br /> <p class="card-text">Desc: @Model.Desc</p>

            </div>
        </div>
    </div>
    <form method="post" asp-action="delete">
        <input name="id" value="@Model.Id" hidden />
        <button type="submit" class="btn btn-danger mt-md-2"> Delete</button>
    </form>
</div>



