@model List<Teacher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int maxPageCount = ViewBag.PageCount;
    int selectedPage = ViewBag.SelectedPage;
    int counter = (selectedPage - 1) * 5 + 1;
}

<div class="container-fluid">
    <div class="d-flex justify-content-end mb-2">
        <a asp-action="create" class="btn btn-primary ">Create</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Teaching Status</th>
                <th scope="col">Degree</th>
                <th scope="col">Experience</th>
                <th scope="col">Hobby</th>
                <th scope="col">Faculty</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th class="col-md-3 " scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@counter</th>
                <td>@item.FullName</td>
                <td>@item.TeachingStatus</td>
                <td>@item.Degree</td>
                <td>@item.Experience</td>
                <td>@item.Hobby</td>
                <td>@item.Faculty</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td class="col-md-3">
                    <a asp-action="detail" asp-route-id="@item.Id" class="btn btn-success">Info</a>
                    <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

                counter++;
            }


        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            @if (selectedPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="1" tabindex="-1">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-action="index" asp-route-page="@(selectedPage-1)" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            }

            @for (int i = (selectedPage > 1 ? (selectedPage - 1) : 1); i <= (selectedPage < maxPageCount ? selectedPage + 1 : maxPageCount); i++)
            {
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }


            @if (selectedPage < maxPageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(selectedPage+1)" tabindex="-1">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@maxPageCount" tabindex="-1">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>

</div>



