@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> usermanager;
@inject Eduhome.Services.LayoutViewModelService service
@{
    AppUser user = User.Identity.IsAuthenticated ? await usermanager.FindByNameAsync(User.Identity.Name) : null;
    Setting setting = service.GetSiteSetting();
    Subscribe subscribe = service.Subscribe;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>@setting.Title  @setting.ServicePhone</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                @if (user != null)
                                {
                                    <li>
                                        <a asp-action="profile" asp-controller="account">@user.FullName</a>
                                    </li>
                                    <li>
                                        <a asp-action="logout" asp-controller="account">Logout</a>
                                    </li>
                                    <li>
                                        <a asp-action="index" asp-controller="order">Orders</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-action="login" asp-controller="account">Login</a>
                                    </li>
                                    <li>
                                        <a asp-action="register" asp-controller="account">Register</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-area two header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="logo">
                            <a href="index.html"><img src="~/uploads/setting/@setting.Logo" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-6">
                        <div class="content-wrapper text-right">
                            <!-- Main Menu Start -->
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a asp-action="index" asp-controller="home">Home</a> </li>

                                        <li><a asp-action="index" asp-controller="about">About</a></li>
                                        <li>
                                            <a asp-action="index" asp-controller="course">courses</a>
                                        </li>
                                        <li>
                                            <a asp-action="index" asp-controller="event">event</a>

                                        </li>
                                        <li><a asp-action="index" asp-controller="teacher">Teacher</a></li>

                                        <li><a asp-action="index" asp-controller="contact">Contact</a></li>
                                        <li><a href="#">Buy Now</a>
                                    </ul>
                                </nav>
                            </div>
                            <!--Search Form Start-->
                            @if (@ViewContext.RouteData.Values["controller"].ToString() == "Home")
                            {
                                <div class="search-btn" style="display:none">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">

                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" id="search-teacher-input" placeholder="Search here..." name="search" />
                                                <ul style="background-color:white" id="searchUl"></ul>
                                                <button type="submit">
                                                    <span><i class="fa fa-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (@ViewContext.RouteData.Values["controller"].ToString() == "Course")
                            {
                                <div class="search-btn">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">

                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" id="search-course-input" placeholder="Search here..." name="search" />

                                                <ul style="background-color:white;" id="searchUl">
                                                </ul>

                                                <button type="submit">
                                                    <span><i class="fa fa-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (@ViewContext.RouteData.Values["controller"].ToString() == "Event")
                            {
                                <div class="search-btn">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">

                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" id="search-event-input" placeholder="Search here..." name="search" />

                                                <ul style="background-color:white;" id="searchUl">
                                                </ul>

                                                <button type="submit">
                                                    <span><i class="fa fa-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (@ViewContext.RouteData.Values["controller"].ToString() == "Teacher")
                            {
                                <div class="search-btn">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">

                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" id="search-teacher-input" placeholder="Search here..." name="search" />
                                                <ul id="searchUl" style="background-color:white;"></ul>
                                                <button type="submit">
                                                    <span><i class="fa fa-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--End of Search Form-->
                            <!-- Main Menu End -->
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    @RenderBody()
    <!-- Subscribe Start -->
    <div class="subscribe-area pt-60 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="subscribe-content section-title text-center">
                        <h2>subscribe our newsletter</h2>
                        <p>I must explain to you how all this mistaken idea </p>
                    </div>
                    <div class="newsletter-form mc_embed_signup">
                        <form asp-action="subscribe" method="post">
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input type="Email" asp-for="@subscribe.Email" id="Email">
                                <span asp-validation-for="@subscribe.Email" class="text-danger"></span>

                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                            </div>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->
    <!-- Footer Start -->
    <footer class="footer-area">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-widget pr-60">
                            <div class="footer-logo pb-25">
                                <a href="index.html"><img src="~/uploads/setting/@setting.FooterLogo" alt="eduhome"></a>
                            </div>
                            <p>@setting.FooterDesc</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="@setting.FacebookUrl"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="@setting.PinteresUrl"><i class="zmdi zmdi-pinterest"></i></a></li>
                                    <li><a href="@setting.VimeoUrl"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="@setting.TwitterUrl"><i class="zmdi zmdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>information</h3>
                            <ul>
                                <li><a href="#">addmission</a></li>
                                <li><a href="#">Academic Calender</a></li>
                                <li><a href="event.html">Event List</a></li>
                                <li><a href="#">Hostel &amp; Dinning</a></li>
                                <li><a href="#">TimeTable</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>useful links</h3>
                            <ul>
                                <li><a href="course.html">our courses</a></li>
                                <li><a href="about.html">about us</a></li>
                                <li><a href="teacher.html">teachers &amp; faculty</a></li>
                                <li><a href="#">teams &amp; conditions</a></li>
                                <li><a href="event.html">our events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>get in touch</h3>
                            <p>@setting.Address</p>
                            <p>@setting.ServicePhone<br>@setting.Phone</p>
                            <p>@setting.Email<br>@setting.WebSiteUrl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © <a href="#" target="_blank">HasTech</a> @DateTime.Now All Right Reserved By Hastech.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.27/signalr.min.js" integrity="sha512-a+73ErrZPjhqOu0qbW1QLsenEF4pvDjmnd+Ws6hkDyJlrwAigOQAxQhIT+fPNFWScUvtJQvn+G535TT2C6/G4g==" crossorigin="anonymous"></script>
    <script src="~/lib/Notfication.js"></script>

</body>

</html>
